// .button {
//   margin-right: 3rem;
// }

// .navbar{
//   justify-content: space-between;
// }

// .navbar div:nth-child(2) span{
//   margin-right: 3rem;
// }


mat-sidenav {
  background-color: powderblue;
  width: 200px;
  padding: 16px;;

  &-container{
    height: 100%;
  }
  &-content{
    padding: 16px;
  }

}
 .center {
   margin: 15rem;
 }
