<!-- <mat-toolbar color="primary" class="navbar">
  <div><span>Codeinnova</span></div>
  <div>
    <span>Home</span>
    <span>Contact</span>
    <span>About</span>
  </div>
</mat-toolbar> -->

<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="log('opened')" (closed)="log('closed')">Sidenav</mat-sidenav>
  <mat-sidenav-content>main
    <button mat-raised-button color="primary" (click)="opened=!opened">toggle opened</button>
    <button (click)="sidenav.open()" mat-flat-button>Open</button>
    <button mat-raised-button (click)="sidenav.close()">Close</button>
    <button mat-stroked-button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item [mat-menu-trigger-for]="subMenu">FrontEnd</button>
  <button mat-menu-item>BackEnd</button>
</mat-menu>

<button class="center" mat-flat-button [matMenuTriggerFor]="appMenu">Schools</button>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
  <button mat-menu-item>Vue</button>
</mat-menu>

<mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent let-name="name">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Logout {{ name }}</button>
  </ng-template>
</mat-menu>

<button mat-raised-button [matMenuTriggerData]="{ name: 'Great'}" [matMenuTriggerFor]="lazyMenu">
  Great
</button>
<button mat-raised-button [matMenuTriggerData]="{ name: 'Akua'}" [matMenuTriggerFor]="lazyMenu">
  Akua
</button>
<mat-accordion multi="true" hideToggle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals
      </mat-panel-title>
      <mat-panel-description>
        Total duration: 3 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Life could be better if you make the right decisions.</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals
      </mat-panel-title>
      <mat-panel-description>
        Total duration: 3 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Life could be better if you make the right decisions.</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-card>
  <mat-card-title>
    Greatness
  </mat-card-title>
  <mat-card-content>
    Greatness awaits everyone who wants to get ahold of it
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button>be Great</button>
  </mat-card-actions>
</mat-card>
<mat-tab-group #tabRef (selectedIndexChange)="logChange(tabRef.selectedIndex)">
  <mat-tab label="Angular">Angular</mat-tab>
  <mat-tab label="React">React Tab</mat-tab>
  <mat-tab label="Vue">Vue View</mat-tab>
</mat-tab-group>

<mat-vertical-stepper>
  <mat-step label="Shipping Address">
    <p>Shipping Address</p>
  </mat-step>
  <mat-step label="Billing Address">
      <p>Billing Address Details</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step label="Place Order">
    <p>Place Order</p>
  </mat-step>
</mat-vertical-stepper>

<mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Min 5 characters.</mat-hint>
</mat-form-field>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="standard">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Min 5 characters.</mat-hint>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Topic</mat-label>
  <mat-select>
    <mat-option value="angular">Angular</mat-option>
    <mat-option value="react">React</mat-option>
    <mat-option value="vue">Vue</mat-option>
  </mat-select>
</mat-form-field>

<form action="">
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of objectOptions" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<!-- <mat-list dense>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-nav-list>
  <a mat-list-item href="#">Home</a>
  <a mat-list-item href="#">About</a>
  <a mat-list-item href="#">services</a>
</mat-nav-list> -->
<mat-list>
  <mat-list-item>
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine>Heading</h3>
    <p matLine>Line</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Heading 2</h3>
    <p matLine>Line 2</p>
  </mat-list-item>
</mat-list>

<mat-grid-list cols="2" rowHeight="2:1" style="height: 200px" gutterSize="20px">
  <mat-grid-tile>Tile 1</mat-grid-tile>
  <mat-grid-tile>Tile 2</mat-grid-tile>
  <mat-grid-tile>Tile 3</mat-grid-tile>
  <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list>

<!-- <button mat-raised-button>hello world</button> -->
<!-- angular material typography -->
<!-- <div class="mat-display-4">this is display 4</div>
<div class="mat-display-3">this is display 3</div>
<div class="mat-display-2">this is display 2</div>
<div class="mat-display-1">this is display 1</div> -->

<!-- <div class="mat-headline">this is a heading for h1</div>
<div class="mat-title">this is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">this is a heading for h4</div> -->


<!-- <div class="mat-body-1">This is the body text</div>
<div class="mat-body-2">this is bold body text</div>
<div class="mat-caption">This is a caption text</div> -->

<!-- buttons -->
<!-- <button class="mat-button">Click me!</button>
<button class="mat-raised-button">Click me!</button>
<button class="mat-flat-button">click me</button>
<button class="mat-stroked-button">Click me!</button>
<button class="mat-icon-button">icon</button>
<button class="mat-fab">Fab</button>
<button class="mat-mini-fab">Minifab</button> -->

<!-- button colors -->
<!-- <div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warn</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div> -->

<!-- <div>
  <mat-button-toggle #toggleBtn checked disableRipple>Toggle</mat-button-toggle>
  {{toggleBtn.checked}}
</div> -->

<!-- <div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div> -->

<!-- <div>
  <mat-icon color="accent">lock</mat-icon>
  <mat-icon>account_circle</mat-icon>
</div><br> -->

<!-- <div>
  <span [matBadge]="notification" [matBadgeHidden]="notification === 0"><mat-icon>mail</mat-icon></span><br>
</div><br>
  <div>
    <span matBadge="7" matBadgePosition="above before" matBadgeSize="small" matBadgeColor="primary">Notification</span>
  </div><br>
  <div>
    <span matBadge="7" matBadgePosition="below before" matBadgeSize="medium" matBadgeColor="accent">Notification</span><br>
  </div><br>
<div>
  <span matBadge="7" matBadgePosition="below after" matBadgeSize="large" matBadgeColor="warn" matBadgeOverlap="false">Notification</span>
</div> -->

<!-- <div>
  <mat-progress-spinner value="60"></mat-progress-spinner>
</div>
<mat-spinner *ngIf="showSpinner" color="warn"></mat-spinner>
<button mat-raised-button (click)="loadData()">Load Spinner</button> -->
